#page-container {
    min-height: 100vh;
    background-color: rgba(var(--bs-body-bg-rgb), 0.55);
}

#content-container {
    flex: 1;
    border-radius: var(--border-radius);
    background-color: rgba(var(--bs-body-bg-rgb),0.85);
    backdrop-filter: blur(12px) saturate(160%);
    --webkit-backdrop-filter: blur(12px) saturate(160%);
    border: 1px solid var(--bs-border-color);
}