:root {
    --border-radius: 1.5rem;
}

* {
    user-select: none;
}

.hider {
    display: none !important;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.element {
    background: rgba(255,255,255,0.7);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: var(--border-radius);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.12);
    backdrop-filter: blur(16px) saturate(180%);
    --webkit-backdrop-filter: blur(16px) saturate(180%);
}